
//Header:

.brand{
    text-decoration: none;

    h1{
        color: black;
        @include animation_fadeInDown();
        transition: 0.3s ease;
        &:hover{
            transform: scale(1.1);
            background-color: #c2eaba;
            background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
            background-size: 1800% 1800%;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            border: 2px black;
            animation: rainbow_animation 2s ease-in-out infinite;
            animation-fill-mode: forwards;
            background-size: 400% 100%;

        }
        
    }
    @keyframes rainbow_animation { 
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%;}
    }
}

.navbar{
    @include animation_fadeInDown();
}

.navbar-expand-md{
    color: map-get($map: $color-map, $key: title-color );
}

.navbar-light {
    color: map-get($map: $color-map, $key: title-color );
}

.navbar-light .navbar-brand{
    @extend .navbar-light;
    transition: 0.3s ease;
    &:hover{
        color: map-get($map: $color-map, $key: title-color );
        transform: scale(1.1);
    }
}

.navbar-collapse{
    justify-content: space-around;
}
.navbar-nav{
    @extend .navbar-light;
    display: flex;
}

.navbar-light .navbar-nav .nav-link{
    @extend .navbar-light;
    &:hover{
        color: map-get($map: $color-map, $key: title-color );
    }
}

